<h1>Chat en tiempo real</h1>

<h2 id="usersCount"></h2>
<br>
<h2>Lista de usuarios:</h2>

<ul id="userList">  </ul>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/index.js"></script>